* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .shopCard {
    width: 33.3%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    padding: 30px;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    &:hover {
      justify-content: end;
      transition: 1s ease;
      img {
        transform: scale(1.1);
        transition: 1s ease;
      }
      button {
        gap: 30px;
        transition: 1s ease;
      }
    }
    img {
      z-index: 3;
    }
    .shopCardText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      position: absolute;
      top: 45px;
      left: 40px;
      text-transform: uppercase;
      p {
        font-size: 12px;
        font-weight: 300;
        color: #ee1d24;
        font-family: Arial, Helvetica, sans-serif;
      }
      h3 {
        font-size: 18px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    button {
      padding: 15px;
      position: absolute;
      bottom: 30px;
      left: 40px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 15px;
      font-weight: 500;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
}
@media screen and (max-width: 991px) {
  .shop {
    .shopCard {
      width: 100%;
    }
  }
}
