* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .login{
    width: 100%;
    min-height: 100vh;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      padding: 15px 0;
        margin: 15px 0;
        cursor: pointer;
      font-size: 35px;
      font-weight: 700;
      color: #ed1d24;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding: 15px 0;
        margin: 15px 0;
        label {
          color: #ed1d24;
          font-weight: 500;
          font-size: 15px;
          font-family: monospace;
        }
        input {
          width: 100%;
          height: 55px;
          border: none;
          border-bottom: 1px solid #e5e5e5;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 15px;
          color: #ed1d24;
          font-weight: 500;
          font-size: 15px;
          &:hover {
            border: 2px solid #ed1d24;
          }
        }
        .loginBtns{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          button {
            width: 155px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
            margin: 30px 0;
            background-color: #ed1d24;
            font-weight: 700;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            &:hover {
              background-color: black;
              color: #ed1d24;
              border: 2px solid #ed1d24;
              font-size: 18px;
              transition: 1s ease;
            }
          }
        }
      }
  }